[package]
name = "yaml-rs"
version = "0.0.14"
edition = "2024"
license = "Unlicense"
repository = "https://github.com/lava-sh/yaml-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_yaml_rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = {
    version = "=0.28.2",
    features = [
        "num-bigint",
        "extension-module",
        "generate-import-lib",
    ]
}
atoi = "=2.0.0"
itoa = "=1.0.17"
num-bigint = "=0.4.6"
rustc-hash = "=2.1.1"
memchr = {
    version = "=2.8.0",
    default-features = false,
}
encoding_rs = "=0.8.35"
simdutf8 = {
    version = "=0.1.5",
    features = ["aarch64_neon_prefetch"],
}
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# https://github.com/bourumir-wyngs/saphyr/tree/dev/saphyr-parser #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
saphyr = {
    git = "https://github.com/bourumir-wyngs/saphyr",
    rev = "1dcf7cd1b1d2f6b4087853905a4313478a142eb0",
}
saphyr-parser = {
    package = "saphyr-parser-bw",
    git = "https://github.com/bourumir-wyngs/saphyr",
    rev = "1dcf7cd1b1d2f6b4087853905a4313478a142eb0",
}
lexical-core = {
    git = "https://github.com/Alexhuszagh/rust-lexical",
    rev = "59382e249f8fd0dd384ed1f180b38d168cf9fcbb",
    default-features = false,
    features = [
        "radix",
        "parse-floats",
        "parse-integers",
    ]
}
mimalloc = {
    optional = true,
    version = "=0.1.48",
    features = [
        # mimalloc v3
        # See: https://github.com/microsoft/mimalloc/tree/dev3?tab=readme-ov-file#branches
        "v3",
        "override",
        "local_dynamic_tls",
    ]
}

[features]
default = []
mimalloc = ["dep:mimalloc"]

[profile.release]
lto = "fat"
strip = "symbols"
codegen-units = 1

[lints]
rust.warnings = { level = "deny" }
clippy.perf = { level = "deny", priority = -1 }
clippy.style = { level = "warn", priority = -1 }
clippy.pedantic = { level = "warn", priority = -1 }

clippy.too_many_lines = "allow"
clippy.manual_let_else = "allow"
clippy.cast_possible_truncation = "allow"
