name: "musllinux"

on:
  workflow_call:

jobs:
  musllinux:
    name: "ubuntu-latest / ${{ matrix.platform.target }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - {
            target: x86_64,
            interpreter: "3.10 3.11 3.12 3.13 3.13t 3.14 3.14t pypy3.11"
          }
          - {
            target: x86,
            interpreter: "3.10 3.11 3.12 3.13 3.13t 3.14 3.14t pypy3.11"
          }
          - {
            target: aarch64,
            interpreter: "3.10 3.11 3.12 3.13 3.13t 3.14 3.14t pypy3.11"
          }
          - {
            target: armv7,
            interpreter: "3.10 3.11 3.12 3.13 3.13t 3.14 3.14t pypy3.11"
          }

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - name: "Build wheels"
        uses: PyO3/maturin-action@b1bd829e37fef14c63f19162034228a2f3dc1021 # v1.50.0
        with:
          target: ${{ matrix.platform.target }}
          rust-toolchain: nightly
          args: >
            --release --out dist 
            --interpreter ${{ matrix.platform.interpreter }}
            --features mimalloc
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }} # zizmor: ignore[cache-poisoning]
          manylinux: musllinux_1_2
      - name: "Upload wheels"
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: wheels-musllinux-${{ matrix.platform.target }}
          path: dist
