name: uv-tool

on:
  workflow_call:
    inputs:
      job-name:
        required: true
        type: string
      group:
        required: true
        type: string
      run-command:
        required: true
        type: string
      python-version:
        required: false
        type: string
        default: "3.13"

jobs:
  run:
    name: ${{ inputs.job-name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ inputs.python-version }}
      - name: "Install uv"
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: ${{ !startsWith(github.ref, 'refs/tags/') }} # zizmor: ignore[cache-poisoning]
      - name: "Install tool"
        run: uv pip install --group ${{ inputs.group }} --system
      - name: "Run tool"
        run: ${{ inputs.run-command }}
